{% extends "base.html" %}
{% block title %}Manage Users{% endblock %}
{% block content %}
<h2>Quản lý người dùng</h2>
<table class="table">
    <thead>
        <tr>
            <th>Tên</th>
            <th>Email</th>
            <th>Trạng Thái</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>
                    <a href="{{ url_for('edit_user', user_id=user.id) }}" class="btn btn-secondary">Chỉnh sửa</a>
                    <form action="{{ url_for('delete_user', user_id=user.id) }}" method="POST" style="display:inline;">
                        <button type="submit" class="btn btn-danger">Xóa</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
